package aichat

import "github.com/iota-uz/iota-sdk/modules/website/presentation/assets"

var (
	chatScript = "/assets/" + assets.HashFS.HashName("js/aichat.js")
)

templ WebComponent() {
	<script src={ chatScript }>
	</script>
	<ai-chat-widget
		title="AI chat bot"
		subtitle="Наш AI-бот готов помочь вам круглосуточно"
		endpoint="/website/ai-chat/message"
	>
		<chat-starter>
			Hello, how can I help you?
		</chat-starter>
	</ai-chat-widget>
}
