package components

import "github.com/iota-uz/iota-sdk/components/charts"

templ AreaChart() {
	@charts.Chart(charts.Props{
		Class: "h-64",
		Options: charts.NewAreaChart().
			WithSeries("Users", []float64{31.0, 40.0, 28.0, 51.0, 42.0, 109.0, 100.0}).
			WithSeries("Sessions", []float64{11.0, 32.0, 45.0, 32.0, 34.0, 52.0, 41.0}).
			WithCategories([]string{"Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"}).
			WithHeight("100%").
			WithColors("#3b82f6", "#8b5cf6").
			Build(),
	})
}
