package components

import "github.com/iota-uz/iota-sdk/components/charts"

templ DonutChart() {
	@charts.Chart(charts.Props{
		Class: "h-64",
		Options: charts.NewPieChart(
			[]float64{44, 55, 41, 17, 15},
			[]string{"Product A", "Product B", "Product C", "Product D", "Product E"},
		).
			AsDonut("70%").
			WithHeight("100%").
			WithColors("#3b82f6", "#10b981", "#f59e0b", "#ef4444", "#8b5cf6").
			WithDataLabels(true).
			Build(),
	})
}
