package components

import "github.com/iota-uz/iota-sdk/components/charts"

templ LineChart() {
	@charts.Chart(charts.Props{
		Class: "h-64",
		Options: charts.NewLineChart().
			WithSeries("Revenue", []float64{10.0, 41.0, 35.0, 51.0, 49.0, 62.0, 69.0, 91.0, 148.0}).
			WithCategories([]string{"Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep"}).
			WithHeight("100%").
			WithColors("#10b981").
			Build(),
	})
}
