package components

import "github.com/iota-uz/iota-sdk/components/charts"

templ PieChart() {
	@charts.Chart(charts.Props{
		Class: "h-64",
		Options: charts.NewPieChart(
			[]float64{44, 55, 13, 43, 22},
			[]string{"Team A", "Team B", "Team C", "Team D", "Team E"},
		).
			WithHeight("380px").
			WithColors("#3b82f6", "#10b981", "#6366f1", "#f59e0b", "#ef4444").
			WithDataLabels(true).
			Build(),
	})
}
