LOG_LEVEL=debug
SESSION_DURATION=720h
DOMAIN=localhost
DB_HOST=localhost
DB_PORT=5432
DB_NAME=iota_erp
DB_USER=postgres
DB_PASSWORD=postgres
GO_APP_ENV=dev
OPENAI_KEY=example-api-key
GOOGLE_CLIENT_ID=example-client-id
GOOGLE_CLIENT_SECRET=example-client-secret
GOOGLE_REDIRECT_URL=http://localhost:3000/auth/google/callback
SID_COOKIE_KEY=sid
TWILIO_AUTH_TOKEN=your_twillio_token
TWILIO_PHONE_NUMBER=your_twillio_phone_number
TWILIO_ACCOUNT_SID=your_twillio_sid
TELEGRAM_BOT_TOKEN=""
CLICK_URL=https://my.click.uz
CLICK_MERCHANT_ID=12345678
CLICK_MERCHANT_USER_ID=12345678
CLICK_SERVICE_ID=12345678
CLICK_SECRET_KEY=your_secret_key