package layouts

import "github.com/iota-agency/iota-erp/internal/types"

templ Default(pageCtx *types.PageContext) {
	<html lang="ru">
		<head>
			<meta charset="UTF-8"/>
			<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<script src="https://cdn.tailwindcss.com"></script>
			<title>{ pageCtx.Title }</title>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
