package components

type UploadInputProps struct {

}

templ UploadInput(props *UploadInputProps) {
  <div className="border border-dashed border-border rounded-md p-4 flex flex-col items-center bg-surface-100">
  </div>
}