//go:build dev

package showcase

import (
	"github.com/iota-uz/iota-sdk/components/sidebar"
	"github.com/iota-uz/iota-sdk/pkg/composables"
	"github.com/iota-uz/iota-sdk/pkg/lens"
	lensreact "github.com/iota-uz/iota-sdk/pkg/lens/render/react"
)

type LensPageProps struct {
	SidebarProps sidebar.Props
	Dashboard    lens.DashboardSpec
	DocumentURL  string
	CSRF         string
	Available    bool
}

templ LensContent(props LensPageProps) {
	if props.Available {
		{{ pageCtx := composables.UsePageCtx(ctx) }}
		@lensreact.LensDashboard(
			props.DocumentURL,
			lensreact.WithLocale(pageCtx.GetLocale().String()),
			lensreact.WithCSRF(props.CSRF),
			lensreact.WithSkeleton(props.Dashboard),
		)
	} else {
		<div class="p-8 text-center">
			<p class="text-gray-600">No database connection available</p>
		</div>
	}
}

templ LensPage(props LensPageProps) {
	@Layout(LayoutProps{
		Title:        "Lens Dashboard",
		SidebarProps: props.SidebarProps,
	}) {
		@LensContent(props)
	}
}
