package base

type BaseLabelProps struct {
	Text string
}

templ BaseLabel(props BaseLabelProps) {
	<label>
		if len(props.Text) > 0 {
			<span class="text-gray-700 dark:text-gray-300">{ props.Text }</span>
		}
		{ children... }
	</label>
}
