package dashboard

import (
	"github.com/iota-agency/iota-erp/internal/presentation/templates/layouts"
	"github.com/iota-agency/iota-erp/internal/types"
)

type IndexPageProps struct {
	*types.PageContext
}

templ DashboardContent(props *IndexPageProps) {
	<div class="m-6">
		<h1 class="text-2xl font-medium">
			{ props.T("NavigationLinks.Dashboard") }
		</h1>
	</div>
}

templ Index(props *IndexPageProps) {
	@layouts.Authenticated(props.PageContext) {
		@DashboardContent(props)
	}
}
