package home

import (
  "github.com/iota-agency/iota-erp/internal/presentation/types"
  "github.com/iota-agency/iota-erp/internal/presentation/templates/layouts"
)

templ Index(pageContext *types.PageContext) {
  @layouts.Authenticated(pageContext) {
    <div>Hello world 2</div>
  }
}