package home

import (
	"github.com/iota-agency/iota-erp/internal/presentation/templates/layouts"
	"github.com/iota-agency/iota-erp/internal/types"
)

templ Index(pageContext *types.PageContext) {
	@layouts.Authenticated(pageContext)
}
