//go:build dev

package components

templ Error403Example() {
	<div class="h-[500px] relative overflow-hidden rounded-lg border">
		<iframe src="/_dev/error-preview/403" class="w-full h-full"></iframe>
	</div>
}
