package components

import "github.com/iota-uz/iota-sdk/components/base/slider"

templ SliderInput() {
	@slider.Slider(slider.SliderProps{
		Label:     "Slider Label",
		Min:       0,
		Max:       100,
		Value:     50,
		Step:      1,
		HelpText:  "Drag to adjust value",
		Error:     "",
		Disabled:  false,
		Attrs: templ.Attributes{
			"name": "sliderName",
		},
	})
}