package components

import "fmt"

type LimitWarningProps struct {
	Entity    string
	Current   int
	Limit     int
	Threshold float64
}

templ LimitWarning(props LimitWarningProps) {
	if props.Limit > 0 && float64(props.Current)/float64(props.Limit) >= props.Threshold {
		<div class="bg-yellow-100 text-yellow py-2.5 px-4 text-sm font-medium rounded-md w-full text-center">
			{ fmt.Sprintf("%s is at %d/%d", props.Entity, props.Current, props.Limit) }
		</div>
	}
}
